body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
img {
  width: 100%;
  max-width: 300px;
  max-height: 195px;
  border-radius: 10px;
  object-fit: fill;
  margin-top: 24px;
  box-shadow: 0 0 9px 2px black;
}
